.track {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;

  & b {
    letter-spacing: 1px;
    font-size: 1.2rem;
  }

  & p {
    letter-spacing: 1px;
    opacity: 0.8;
    font-size: 1rem;
  }
}
.track svg {
  color: #fff;
}

.credits {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.preview {
  width: 36px;
  height: 36px;
  border-radius: 10px;
}

.playing * {
  color: var(--primary) !important;
}
