.search {
  flex: 1;
}

.input {
  width: 300px;
  margin: 10px 150px;

  & > * {
    text-align: center !important;
    color: #9e9e9e;
    padding: 14px;
    font-size: 18px !important;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin: 10px 0;
  max-height: calc(100vh - 195px);
  overflow: auto;
  padding: 30px;
  border-radius: 20px;
  background: rgba(133, 133, 133, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
